@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main_section {
  background: url(assets/MainBg.png) no-repeat;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

header .order_holat a {
  text-decoration: underline;
}

header .links ul {
  display: flex;
  gap: 10px;
}

header .links ul li {
  list-style: none;
}

header .links ul li a {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 20px;
}

header .menus {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .menus form {
  display: flex;
  gap: 20px;
  align-items: center;
}

header .menus form .contact_btn button {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 10px 13px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
}

label.hamburger {
  display: block;
  padding: 0 21px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  width: 65px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

input#hamburger {
  display: none;
}

.line {
  position: absolute;
  height: 2px;
  width: 20px;
  background: #fff;
  transition: 0.5s;
}
/* steps of 12 are optional, could also be 10, 13 etc */
.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}

.section_body {
  padding: 160px 60px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.section_body h1 {
  font-size: 46px;
}

.section_body p {
  width: 750px;
  padding: 10px 0;
}

.section_body .buttons_a {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons_a a {
  text-decoration: underline;
}

.section_body .buttons_a button {
  background: transparent;
  border: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}

.card_section {
  padding: 0 60px;
}
